{% extends "base.html" %}
{{ title }}
{% block content %}
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <section class="vh-100" style="background-color: #313336;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

              <h3 class="mb-5">Sign in</h3>


              <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
              </div>

              <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
              </div>

              <div class="form-group">
                {{ form.submit(class="btn btn-secondary btn-lg btn-block") }}
              </div>

              <hr class="my-4">

              <small>If you have gained access to this screen without administrator permission, be careful with how you
                proceed...</small>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock content %}